# MANIFEST.in
# Copyright (c) 2013-2019 Pablo Acosta-Serafini
# See LICENSE for details
include AUTHORS.rst
include CHANGELOG.rst
include LICENSE
include Makefile
include MANIFEST.in
include README.rst
include setup.py
include TODO.rst
include tox.ini
include .headerrc
include .pylintrc
include .pydocstyle
recursive-include pylint_plugins *.py
recursive-include pylint_plugins/dicts *
recursive-include pylint_plugins *.sh
recursive-include data *
include docs/make.bat
include docs/Makefile
include docs/conf.py
include docs/__init__.py
recursive-include docs *.rst
recursive-include docs/support *.py
recursive-include docs/support *.csv
recursive-include docs/support *.png
recursive-include docs/support *.odg
include tests/matplotlibrc
include tests/pytest.ini
recursive-include tests *.py
recursive-include tests/support *.py
recursive-include tests/support/ref_images_1 *.png
recursive-include tests/support/ref_images_2 *.png
recursive-include tests/support/ref_images_3 *.png
recursive-include tests/support/ref_images_4 *.png
recursive-include tests/support/ref_images_5 *.png
recursive-include pypkg *.sh
recursive-include pypkg *.py
recursive-include requirements *
